{% extends "base.html" %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <p>{{ form.lesson_name.label_tag }} {{ form.lesson_name }}</p>
    <p>{{ form.day_of_week.label_tag }} {{ form.day_of_week }}</p>
    <p>{{ form.time.label_tag }} {{ form.time }}</p>
    <input type="submit" value="作成">
</form>
{% if form.errors %}
<ul class="errorlist">
    {% for field in form %}
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
</ul>
{% endif %}
{% endblock %}