{% extends "base.html" %}
{% load static %}
{% block nav %}
{% include "_nav.html" %}
{% endblock %}
{% block content %}
<div class="createFavor">
    <h1>この授業ではどのような人と出会いたいですか？</h1>
    <form method="POST">
        {% csrf_token %}
        <p>性別 {{ form.gender }}</p>
        <p>学年 {{ form.grade }}</p>
        <p>年齢 {{ form.age }}</p>
        <p>人数 {{ form.num_of_people }}</p>
        <button type="submit" class="btn btn-unienca btn-next float-end">
            探す
        </button>
    </form>
    {% if form.errors %}
    <ul class="errorlist">
        {% for field in form %}
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}