{% extends "base.html" %}
{% load static %}
{% block nav %}
{% include "_nav.html" %}
{% endblock %}
{% block content %}
<h1>{{ this_search.lesson.lesson_name }}</h1>
{% if list_count == 0 %}
<p>まだこの授業を探している人はいないようです</p>
{% else %}
<p>{{ list_count }}件見つかりました。</p>
{% for recruit in recruitList %}
<div class="search-box">
    <div class="search-username">
        <h2>{{ recruit.user.username }}さんの募集</h2>
    </div>
    <div class="search-profile-text">
        {% if recruit.room.introduction != None %}
        <p>{{ recruit.room.introduction }}</p>
        {% endif %}
    </div>

    <div class="members-dropdown">
        <a type="button" data-bs-toggle="collapse" data-bs-target="#recruit_{{ recruit.pk }}" aria-expanded="false"
            aria-controls="recruit_{{ recruit.pk }}">
            メンバーを表示
        </a>
        {% if recruit.room.members.all %}
        <div class="collapse members_box" id="recruit_{{ recruit.pk}}">
            {% for member in recruit.room.members.all %}
            <a href="{% url 'accounts:profile' member.id this_search.id %}">
                {{ member.username }}
            </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="other-funcs d-flex justify-content-end">
        <a href="{% url 'dm:joinRoom' recruit.id this_search.id %}">
            <button class="btn btn-unienca btn-join">
                参加
            </button>
        </a>
    </div>
</div>
{% endfor %}
{% endif %}
<div class="d-flex justify-content-center">
    <a href="{% url 'matching:delete' this_search.favor.id %}">
        <button class="btn btn-unienca btn-delete float-end">
            戻る
        </button>
    </a>
</div>
{% endblock %}