.dropdown-menu {
    position: absolute !important;
    z-index: 1000 !important;
    /* 他の要素よりも大きい値を設定 */
}

.btn-search {
    width: 400px;
    height: 100px;
    border-radius: 100px;
    margin: 50px auto 0 auto;
    font-size: 30px;
}

.home p {
    text-align: center;
    margin-top: 50px;
}

.createLesson h1 {
    margin-bottom: 50px;
}

form {
    width: 50%;
    margin: 100px auto;
}

.btn-next {
    margin-top: 100px;
    width: 200px;
    height: 50px;
    border-radius: 50px;
}

.btn-delete {
    width: 300px;
    background-color: rgb(255, 67, 67) !important;
    margin-top: 50px;
    border-radius: 30px;
}

.btn-delete:hover{
    background-color: rgb(255, 124, 124) !important;
}

.btn-continue {
    margin-top: 20px;
    width: 300px;
    border-radius: 30px;
    margin-bottom: 100px;

}

.search-box{
    min-height: 200px;
    border: 1px solid gray;
    border-radius: 5px;
    overflow: auto;
    margin-bottom: 10px;
}

.search-username{
    padding: 5px 30px;
    height: 50px;
    line-height: 40px;
}

.search-profile-text{
    padding: 5px 30px;
}

.members-dropdown{
    padding: 5px 30px;
}

.members_box{
    margin-left: 20px;
}

.members-dropdown a{
    color: black
}

.members-dropdown a:hover{
    color: black
}

.other-funcs {
    padding: 5px 30px;
}

.btn-join{
    width: 100px;
    border-radius: 50px;
}

/* dm.cssが効かないので一度こっちに書く　*/
.message-text{
    width: 200px;
    min-height: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: aquamarine;
}

.message-box{
    margin-top: 10px;
}

.message-box p{
    font-size: 5px;
    margin-left: 10px;
}

.dm-list{
    width: 80%;
    height: 50px;
    padding: 10px;
    border: 1px solid grey;
    margin: 10px auto;

}

.dm-list a{
    color: black;
}

.dm-list-container{
    margin-bottom: 100px;
}

.dm-list-container h1{
    margin-bottom: 100px;
}

.btn-header-return{
    width: 100px;
    border-radius: 50px;
}