{% extends "base.html" %}
{% load static %}
{% block nav %}
{% include "_nav.html" %}
{% endblock %}
{% block content %}
<div class="dm-list-container">
    <div class="dm-list-header d-flex justify-content-between">
        <h1>トークルーム</h1>
        <a href="{% url 'matching:home' %}">
            <button class="btn btn-unienca btn-header-return">
                戻る
            </button>
        </a>
    </div>
    {% for room in user.rooms.all %}
    <div class="dm-list">
       <p><a href="{% url 'dm:dm' room.id %}">{{ room.name }} ({{ room.members.count }})</a></p>
    </div>
    {% endfor %}
</div>
{% endblock %}