<nav class="navbar navbar-expand-lg navbar-light bg-light nav-original">
    <div class="container-fluid"> 
        <a class="navbar-brand logo" href="{% url 'matching:home' %}">UniEnca</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item dropdown-original" href="{% url 'accounts:myProfile' %}">プロフィール</a></li>
                        <li><a class="dropdown-item dropdown-original" href="{% url 'dm:dmList' %}">DM一覧</a></li>
                    </ul>
                </li>
            </ul>     
        </div>
    </div>
</nav>